@page "/filelist"
@using FileRepoSys.Api.Models
@using System.ComponentModel
@using AntDesign.TableModels
@attribute [Authorize]
@inherits FilelistBase

<h1>所有文件</h1>
<Divider />
@if (fileListDto.TotalCount==0)
{
    <Empty />
}
else
{
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Size</th>
                <th>fileName</th>
                <th>uploadTime</th>
                <th>fileType</th>
                <th>download</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in fileListDto.CurrentPageFiles)
            {
                <tr>
                    <td>@Math.Round((file.FileSize/1_048_576),2)MB</td>
                    <td>@file.FileName</td>
                    <td>@file.CreateTime</td>
                    <td>@file.Suffix</td>
                    <td>
                        <a class="link-info" @onclick=@(async()=>await Download_ClickAsync(file.Id.ToString(),$"{file.FileName}.{file.Suffix}"))>download</a>
                    </td>
                    <td>
                        <Popconfirm Title="确定要删除吗?"
                            OnConfirm="async ()=>await Delete_ClickAsync(file.Id.ToString())"
                            OkText="Ok"
                            CancelText="No">
                            <a class="link-danger">delete</a>
                        </Popconfirm>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <footer style="text-align: center;">
        <Pagination Current="@CurrentPageIndex" OnChange="OnPageChange" PageSize="15" DefaultPageSize="15" Total="@fileListDto.TotalCount" />
        Page: @CurrentPageIndex
    </footer>
}











